*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
}
.lhalf{
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 1030px;
    width: 680px;
    display: flex;
    flex-direction: column;
}
.rhalf{
    height: 313px;
    background-color: #ddddddc5;
    padding-top: 100px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    display: flexbox;

}
.header > p{
    justify-self: center;
    padding: 0px 25px 0px 35px;
}
span{
    padding-left: 35px;
    padding-right: 25px;
}
.spancol{
    display: flex;
    flex-direction: column;
}
.spancol > span + span{
   padding-top: 30px;
   padding-bottom: 50px;
}
.midsect{
    height: 343px;
    background-color: rgb(255, 255, 255);
    display: flexbox;
    padding: 20px 0px 0px 40px;
    flex-direction: column;
    box-shadow: 2px 2px 9px;
    
}
.namerow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.informrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.passrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.firstCol{
   display: flex;
   flex-direction: column;
}
.scndCol{
    display: flex;
    flex-direction: column;
}
.thirdCol{
    display: flex;
   flex-direction: column;
}
.fourthCol{
    display: flex;
   flex-direction: column;
}
.fifthCol{
   display: flex;
   flex-direction: column;
}
.sixthCol{
    display: flex;
   flex-direction: column;
}
label{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 1px;
    padding-top: 20px;
}
input{
    margin-right: 200px;
    padding: 4px 20px 4px 5px;
    border: solid 1px;
    border-radius: 3px;
    border-color: green;
}
input:focus{
    border: solid rgb(118, 118, 235) 2px;
    box-shadow: 2px 2px 10px;
}
.passw:invalid{
    border-color: rgb(175, 0, 0);
}
.footer{
    height: 371px;
    background-color: #ddddddc5;
    display: flex;
    flex-direction: column;
}
button{
    width: 200px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: #596D48;
    border: solid #596D48 1px;
    border-radius: 4px;
    color: rgb(230, 224, 224);
    font-weight: bold;
    font-size: 15px;
}
.footer > span{
    padding-top: 30px;
    font-size: medium;
    font-weight: 500;
}
.login{
    padding-left: 0px;
    color: #596D48;
    font-weight: 600;
}
.odin{
    background-color: rgba(0,0,0,0.5);
    height: 200px;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    padding-top: 60px;
    width: 480px
}
.odin > div{
    color: white;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 20px;  
}
img{
    height: 150px ;
    width: 100px;
}
.credit{
    color: rgba(223, 224, 224,0.9);
    font-weight: 500;
    font-family: sans-serif;
    justify-self: center;
    padding-top: 580px;
    padding-left: 0px;
}
.credit > span > span{
    padding: 580px 0px 0px 0px;
}
a{
    font-weight: 500;
    color: rgba(223, 224, 224,0.9);
    font-family: sans-serif;
}